body{
	background-image: url("../images/iconicBackground.png");
	background-size: cover;
	font-family: 'Ubuntu', sans-serif;
}


/* ALL HEADER STYLINGS */
header{
	background-color: #FFBD4A;
	width: 100%;
	text-align: center;
}

header.row {
	margin: 0px;
}

h1{
	color: #5271FF;
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 60px;
}

h3{
	color: #2EB2FF;
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 45px;
}



/*ALL MAIN BODY STYLING*/

main{
	margin-bottom: 20px;
}


/* timer */
.timeDisplay{
	font-size: 50px;
	color: #5271FF;
	font-family: 'Rubik Mono One', sans-serif;
	text-align: center;
	padding: 40px 0px;
	text-decoration: underline;
}

#mainRow{
	display: flex;
	justify-content: space-between;
}

/*left image area and section*/
#imgAside{
	background-color: #2EB2FF;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*whole answers section*/
.answerArea{
	background-color: #fff;
	border: 4px solid #2EB2FF;
	border-radius: 25px;
	padding: 2%;
	min-height: 350px;
	min-width: 350px;

}

/*available questions during quiz*/
.response{
	color: #5271FF;
	font-size: 37px;
	line-height: 55px;
}

/*center content inside answersArea*/
.answers {
	text-align: center;
}


/*start and reset button area*/
#buttonHolder {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

footer{
	background-color: #5271FF;
	margin-top: 40px; 
	margin-bottom: 0px;
	text-align: center;
}

footer p {
	color: #fff;
	font-size: 14px;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 0px
}